
* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
html {
  font-size: 10px;
}
body {
  font-family: "Inter", sans-serif;
}
h2,
h3,
h4 {
  font-size: 3rem;
}
/* 중앙속박스 */
.inbox {
  /* 최대가로크기 */
  max-width: 1750px;
  padding: 0 40px;
  /* 블록박스 중앙정렬 -> 마.영.오! */
  margin: 0 auto;
}
.main-area > div + div {
  padding-top: 10rem;
}
.footer-area{
  margin-top: 10rem;
}

/* 플렉스박스 클래스 */
.fx-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* 파트박스 */
.partbox {
  /* 패딩,보더 포함박스 */
  box-sizing: border-box;
}