#banner-area {
  overflow: hidden;
  background-color: #29292e;
  text-align: center;
  padding: 0 2rem 0 2rem;
  h2 {
    font-size: 9rem;
    margin-bottom: 5rem;
  }
  h2,
  h3,
  h4 {
    color: #e6e6e6;
    text-shadow: 5px 5px 4px #7a7a7a;
  }
  p{
    color: #e6e6e6;

  }
  .tit1 {
    animation: tit1-ani 1.2s ease-in-out 0s forwards;
    opacity: 1;
    // position: absolute;
    // transform: translateY(50%);
  }
  .tit2 {
    opacity: 0;
    animation: tit1-ani 1.2s ease-in-out 0.5s forwards;
  }
  .desc {
    transform: translateX(-100%);
    animation: desc-ani 1s ease-in-out 1.2s forwards;
  }
  @keyframes tit1-ani {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes desc-ani {
    0% {
      transform: translateX(-70%);
    }
    80% {
      transform: translateX(10%);
    }
    100% {
      // font-style: normal;
      transform: translateX(0%);
    }
  }

  p {
    font-size: 2rem;
  }
  .scroll-down {
    position: relative;
    bottom: -15rem;
    font-size: 1.5rem;
    opacity: 0;
    animation: scroll-txt 2.2s linear 2.3s forwards;
  }
  .scroll-bar {
    position: relative;
    background: #29292e;
    height: 4rem;
    margin: 1rem auto;
    overflow: hidden;
    width: 0.2rem;
    bottom: -15rem;
  }
  .scroll-bar::after {
    position: absolute;
    content: "";
    animation: scroll-bar 2.2s linear 2.3s infinite;
    background: #e6e6e6;
    height: 4rem;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0.2rem;
    // bottom: -15rem;
  }
  @keyframes scroll-bar {
    0% {
      opacity: 0;
      top: 0;
    }
    70% {
      opacity: 0.7;
      top: 70%;
    }
    100% {
      opacity: 0;
      top: 100%;
    }
  }
  @keyframes scroll-txt {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .btitle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
