#top-area{
    height: 70px;
    background-color: #d8f2f3;
}
.gnb-box{
    // line-height: 70px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
.gnb-menu{
    padding-right: 2rem;
    ul{
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
    }
    li{
        cursor: pointer;
        font-size: 2rem;
        font-weight: 600;
    }
}